 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul { list-style: none; }
 fieldset { border: 0; }
 a img { border: 0; }
 .clear { clear: both; font-size: 0; height: 0; }
 a { color: #fc7b1b; text-decoration: none; }
 a:hover { color: #fc7b1b; text-decoration: underline; }
 body { font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #fff; margin: 0; padding: 20px 0 0 0; background: #000 url(theme/body-bg.png?531049) repeat-x; }
 div.paragraph { line-height: 1.5; padding: .5em 0; }
 p { line-height: 1.5; padding: .5em 0; }
 h1, h2, h3, h4 { font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 24px; color: #fff; }
 h1 { font-size: 30px; line-height: 1; color: #fff; }
 h2, h3 { line-height: 1.3; padding: .3em 0; color: #bdbdbd; }
 h4 { font-size: 14px; line-height: 1.2; margin-bottom: 5px; }
 blockquote { font-style:italic; border-left:4px solid #666; margin:10px 0 10px 0; padding-left:20px; line-height:1.5; color:#888; }
 #container { width: 956px; margin: 0 auto; }
 #header { padding: 0 0 10px; line-height: 1; text-align: left; }
 #header a { color: #FFFFFF; }
 #header a:hover { color: #999999; text-decoration: none; }
 #logo, #logo a { text-decoration: none; font-size: 30px; color: #fff; }
 #navigation { display: inline; font-family: Arial, Helvetica, sans-serif; line-height: 1; }
 #navigation ul { display: inline; }
 #navigation li { display: inline; }
 #navigation li a { display: inline-block; vertical-align: bottom; color: #999; font-size: 16px; text-decoration: none; padding: 10px 15px; margin: 0 2px 0 0; border: 0; outline: 0; }
 #navigation li a:hover, #navigation li#active a { color: #fff; background: #292929; }
 #wsite-menus .wsite-menu li a { padding: 12px 20px; color: #fff; background: #292929; border: 0; border-bottom: 1px solid #3a3a3a; }
 #wsite-menus .wsite-menu li a:hover { color: #fff; background: #1e1e1e; border-bottom: 1px solid #3a3a3a; }
 #header { width: 100%; height: 90px; }
 #header, #header table { border-collapse: collapse; border-spacing: 0; }
 #header td { vertical-align: middle; text-align: left; }
 #logo { padding: 25px 0; }
 #header-right { padding: 0 0 0 10px; }
 #header-right table { float: right; width: 1px; }
 #header-right td { padding: 0; }
 #header-right .phone-number .wsite-text { color: #999999; font-weight: bold; text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 15px; display: block; white-space: nowrap; margin: 0 0 0 15px; }
 #header-right .wsite-social { vertical-align: middle; margin: 0 0 0 10px; }
 .wsite-social-item { width: 23px; height: 23px; margin: 0 0 0 3px; background-image:url(theme/social-blacktowhite.png?531049); }
 .wsite-social-facebook {background-position:0 0;}
 .wsite-social-facebook:hover {background-position:0 -23px;}
 .wsite-social-facebook:active {background-position:0 -46px;}
 .wsite-social-pinterest {background-position:-23px 0;}
 .wsite-social-pinterest:hover {background-position:-23px -23px;}
 .wsite-social-pinterest:active {background-position:-23px -46px;}
 .wsite-social-twitter {background-position:-46px 0;}
 .wsite-social-twitter:hover {background-position:-46px -23px;}
 .wsite-social-twitter:active {background-position:-46px -46px;}
 .wsite-social-linkedin {background-position:-69px 0;}
 .wsite-social-linkedin:hover {background-position:-69px -23px;}
 .wsite-social-linkedin:active {background-position:-69px -46px;}
 .wsite-social-mail {background-position:-92px 0;}
 .wsite-social-mail:hover {background-position:-92px -23px;}
 .wsite-social-mail:active {background-position:-92px -46px;}
 .wsite-social-rss {background-position:-115px 0;}
 .wsite-social-rss:hover {background-position:-115px -23px;}
 .wsite-social-rss:active {background-position:-115px -46px;}
 .wsite-social-flickr {background-position:-138px 0;}
 .wsite-social-flickr:hover {background-position:-138px -23px;}
 .wsite-social-flickr:active {background-position:-138px -46px;}
 .wsite-social-plus {background-position:-161px 0;}
 .wsite-social-plus:hover {background-position:-161px -23px;}
 .wsite-social-plus:active {background-position:-161px -46px;}
 .wsite-social-vimeo {background-position:-184px 0;}
 .wsite-social-vimeo:hover {background-position:-184px -23px;}
 .wsite-social-vimeo:active {background-position:-184px -46px;}
 .wsite-social-yahoo {background-position:-207px 0;}
 .wsite-social-yahoo:hover {background-position:-207px -23px;}
 .wsite-social-yahoo:active {background-position:-207px -46px;}
 .wsite-social-youtube {background-position:-230px 0;}
 .wsite-social-youtube:hover {background-position:-230px -23px;}
 .wsite-social-youtube:active {background-position:-230px -46px;}
 #header-right .search { }
 #header-right .wsite-search { vertical-align: middle; margin: 0 0 0 12px; width: 210px; height: 29px; background: transparent url(theme/searchForm-bg.png?531049) no-repeat; }
 #header-right .wsite-search-input { width: 138px; height: 15px; border: 0; padding: 7px 13px !important; background: none; font-family: Arial, Helvetica, sans-serif; color: #fff; vertical-align: middle; font-size: 14px; }
 #header-right .wsite-search-button { vertical-align: middle; width: 46px; height: 29px; border: 0; margin: 0; padding: 0; cursor: pointer; font-size: 0; background: none; }
 #footer { padding: 15px 0; font-family: Arial, Helvetica, sans-serif; color: #b3b2b2; font-size: 12px; border-top: 1px solid #666666; margin-bottom: 50px; text-align: right; }
 #footer-right { float: right; width: 240px; text-align: right; display: none; }
 .rights { line-height: 19px; vertical-align: middle; }
 .wsite-footer { margin-bottom: 15px; }
 #footer h2 { font-size:16px; border-bottom:1px solid #888; }
 .wsite-form-container { margin-top:0px !important; text-align:left !important; }
 .wsite-footer .wsite-form-label { font-size: 1em !important; padding: 5px 0 2px 0 !important; }
 .wsite-footer .wsite-form-field { width:300px !important; }
 .wsite-footer .form-radio-container { font-size:1em !important; }
 .wsite-footer .wsite-form-input, .wsite-footer .wsite-search-element-input { font-size: 1em !important; width: 100% !important; background-color:#fff; }
 .wsite-footer .form-select { width: 100% !important; background-color:#fff; }
 #main { padding: 17px 0 0; }
 #banner, #banner-left { background: #000000; padding: 2px; border: 1px solid #666666; width: 950px; }
 #content { min-height: 400px; padding: 25px 0; }
 .tall-header-page .wsite-header { height: 245px; background: url(theme/banner-tall.jpg?531049) no-repeat 50% 50%; }
 .short-header-page .wsite-header { height: 128px; background: url(theme/banner-short.jpg?531049) no-repeat 50% 50%; }
 .no-header-page #banner { display: none; }
 .no-header-page #content { border-top: 1px solid #666666; padding-top: 15px; }
 .landing-page #banner { padding: 0; border: none; background: #1b1b1b; }
 #banner-left { float: left; width: 581px; }
 #banner-left .wsite-header { height: 285px; background: url(theme/banner-landing.jpg?531049); }
 .landing-banner-outer { display: table; #position: relative; overflow: hidden; }
 .landing-banner-mid { #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; }
 .landing-banner-inner { #position: relative; #top: -50%; }
 #banner-right { float: left; width: 315px; height: 291px; padding: 0 0 0 25px; }
 #banner-right h2 { padding: 0px; line-height: 28px; }
 #banner-right div.paragraph { padding: 20px 0px; line-height: 140%; }
 #banner-right p { padding: 20px 0px; line-height: 140%; }
 .splash-page .wsite-header { height: 128px; background: url(theme/banner-splash.jpg?531049) no-repeat; }
 .splash-page #container { width: 565px; }
 .splash-page #banner { width: 560px; }
 .splash-page #header { padding: 15px 0 30px; }
 .splash-page #header-right { display: none; }
 .splash-page .search { display: none; }
 .splash-page .phone-number { display: none; }
 .splash-page #navigation { display: none; }
 .splash-page #content { height: auto !important; min-height: 300px; }
 .splash-page #footer .wsite-social { display: none; }
 .splash-page #footer { text-align: center; }
 .wsite-form-label { display: inline-block; color: #7e7e7e; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; padding: 12px 0 5px 0; }
 .form-radio-container { }
 .wsite-form-input, .wsite-search-element-input { font-family: Arial, Helvetica, sans-serif; font-size: 13px; background: #fff url(theme/field.png?531049) repeat-x; color: #fff; border: 1px solid #3c3c3c; padding: 8px 5px 5px !important; line-height: 1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
 .wsite-form-input-container textarea { background: #292929; }
 .form-select { background: #fff url(theme/field.png?531049) repeat-x; color: #fff; border: 1px solid #3c3c3c; padding: 3px; height: 26px; line-height: 26px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
 .form-select option { background: #fff; color: #000; }
 .wsite-button { color: #fff !important; height: 34px; display: inline-block; font-size: 14px; border: none; font-weight: bold; text-decoration: none; padding: 0 10px 0 0; background: url(theme/button.png?531049) no-repeat 100% -105px; text-shadow:0 -1px 0 rgba(0,0,0,1); }
 .wsite-button:hover { background-position: 100% -140px; }
 .wsite-button:active { background-position: 100% -175px; }
 .wsite-button-inner { height: 34px; line-height: 34px; display: block; font-size: 14px; font-weight: bold; border: none; text-decoration: none; padding: 0 10px 0 20px; background: url(theme/button.png?531049) no-repeat 0 0; }
 .wsite-button:hover .wsite-button-inner { background-position: 0 -35px; }
 .wsite-button:active .wsite-button-inner { background-position: 0 -70px; }
 .wsite-button-large { height: 41px; background: url(theme/button_large.png?531049) no-repeat 100% -126px; padding: 0 10px 0 0; }
 .wsite-button-large:hover { background-position: 100% -168px; }
 .wsite-button-large:active { background-position: 100% -210px; }
 .wsite-button-large .wsite-button-inner { height: 41px; line-height: 41px; padding: 0 10px 0 20px; background: url(theme/button_large.png?531049) no-repeat 0 0; }
 .wsite-button-large:hover .wsite-button-inner { background-position: 0 -42px; }
 .wsite-button-large:active .wsite-button-inner { background-position: 0 -84px; }
 .wsite-button-large.wsite-button-highlight { background-image: url(theme/button_large_highlight.png?531049); text-shadow:0 1px 0 rgba(255,255,255,0.4); }
 .wsite-button-large.wsite-button-highlight .wsite-button-inner { background-image: url(theme/button_large_highlight.png?531049); }
 .wsite-button-highlight { background-image: url(theme/button_highlight.png?531049); color: #000 !important; }
 .wsite-button-highlight .wsite-button-inner { background-image: url(theme/button_highlight.png?531049); }
 #content .blog-post .blog-header h2.blog-title a { font-family: arial, Helvetica, sans-serif; font-size: 24px; line-height: 1.5em; color: #FC7B1B; }
 #content .blog-post .blog-header h2.blog-title a:hover { font-family: arial, Helvetica, sans-serif; font-size: 24px; line-height: 1.5em; color: #FC7B1B; }

div.paragraph ul, div.paragraph ol { padding-left: 25px !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
