html,
body {
    height: 100%;
	/*הגדרת תמונת רקע לכל האתר*/
 background-image: url("http://liadni.webni.co.il/whiteBG.jpg");
  background:url("http://liadni.webni.co.il/whiteBG.jpg"); 
}
.container {
	text-align: center;
	font-weight: bold;
	


	/*הגדרת כל הטקסט במרכז הדף*/
}




text.highcharts-legend-item.highcharts-column-series.highcharts-color-undefined.highcharts-series-0{
color:red;
}
.navbar-inverse {
/*צבע רקע של הנויגיישן בר*/
   background-image: url("http://liadni.webni.co.il/CBG.jpg");
  background:url("http://liadni.webni.co.il/CBG.jpg");   
    border-color: #080808;
		font-weight: bold;
	/*background-color:#e0d8a6;
	 background-color: #f0f8ff;*/
-moz-box-shadow: 0px 0px 20px #000000;
-webkit-box-shadow: 0px 0px 20px #000000;
box-shadow: 0px 5px 20px #000000;

        
}

.form {
    display: block;
    margin-top: 0em;
	
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
	
-moz-box-shadow: 0px 0px 20px #000000;
-webkit-box-shadow: 0px 0px 20px #000000;
box-shadow: 0px 5px 20px #000000;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
   background-image: url("http://liadni.webni.co.il/CBG.jpg");
  background:url("http://liadni.webni.co.il/CBG.jpg");  
  
	/*background-color:#eadf9a;
/*
  background-image: url("http://liadni.webni.co.il/BLUEbb.jpg");
  background:url("http://liadni.webni.co.il/BLUEbb.jpg"); */
	/*כשהתפריט נפתח*/
}

.tspan {
text-align:center;
font-size:150px;}

g.highcharts-data-labels.highcharts-series-0.highcharts-column-series.highcharts-color-undefined.highcharts-tracker{
text-align:center;
font-size:150px;
}

.footer {
    height: 60px;
    background-image: url("http://liadni.webni.co.il/CBG.jpg");
  background:url("http://liadni.webni.co.il/CBG.jpg");    
    border-top: 1px solid #ddd;
    padding-top: 20px;
	color: black;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
	
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
	  background-image: url("http://liadni.webni.co.il/CBG.jpg");
  background:url("http://liadni.webni.co.il/CBG.jpg");   
  
  	background-color:#e0d8a6;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
	/*  רקע כשהתפריט נפתח*/

}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: bold;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.btn-success {
    /*color: #fff;
  background-image: url("http://liadni.webni.co.il/pBG.jpg");
  background:url("http://liadni.webni.co.il/pBG.jpg"); 
  


        
    border-color: white;*/
	-moz-box-shadow: 0px 0px 20px #000000;
-webkit-box-shadow: 0px 0px 20px #000000;
box-shadow: 0px 5px 20px #000000;
}
.navbar-inverse .navbar-brand {
    color:#420b3a;
	font-family:Copperplate Gothic Light;
	font-style: italic;
	font-variant: small-caps;
	font-weight: bold;
	/*line-height: 45.1px;*/
	font-weight:bold;
			font-size: 200%;

	
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: black;
	  background-image: url("http://liadni.webni.co.il/CBG.jpg");
  background:url("http://liadni.webni.co.il/CBG.jpg");   
  	background-color:#e0d8a6;

  /*כפתור משימות*/
}
.navbar-inverse .navbar-nav > li > a {
    color: black;
}
 .navbar-inverse .btn-link {
    color: grey;
	font-weight:bold;
	/*כפתור התנתקות*/
}
.navbar-inverse .btn-link:hover {
/*כפתור התנתקות כשהסמן עליו*/
    color: black;
}
.container {
    text-align: center;
    font-weight: bold;
}
.site-login{
 text-align: right;
    font-weight: bold;
}



.site-index{
 background:url("http://liadni.webni.co.il/whiteBG.jpg"); no-repeat center center;
    min-height:100%;
    background-size:100px 150px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    width: 100%;
    -o-background-size: cover;
position: absolute;
top: 0;
left: 0;
right: 0;
}
  
  .wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
